name: Rust
# inspired by https://alican.codes/rust-github-actions/ which is now outdated

on: [push, pull_request]
env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build test Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile.test
        tags: summon-keepass:test
        cache-from: type=gha
        cache-to: type=gha,mode=max
        load: true

    - name: Run integration tests
      run: docker run --rm summon-keepass:test

  build:
    needs: test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Get package name
      run: |
        echo "PACKAGE_NAME=$(cargo metadata --no-deps | jq -r .packages[0].name)" >> $GITHUB_ENV
    - name: Set target file name
      run: |
        echo "TARGET_FILE_NAME=${PACKAGE_NAME}-linux-amd64.tar.gz" >> $GITHUB_ENV
    - name: Build
      # https://github.com/johnthagen/min-sized-rust#strip-symbols-from-binary
      run: |
        cargo build --verbose --release
        strip target/release/${PACKAGE_NAME}
        mv target/release/${PACKAGE_NAME} ${PACKAGE_NAME}

    - name: Package
      uses: thedoctor0/zip-release@master
      with:
        filename: ${{ env.TARGET_FILE_NAME }}
        path: ${{ env.PACKAGE_NAME }}
        type: tar

    - name: Check Tag
      id: check-tag
      run: |
        if [[ ! -z "${{ github.ref }}" ]] && [[ ${{ github.ref }} =~ ^refs/tags/v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo ::set-output name=release::true
        fi
        if [[ ! -z "${{ github.ref }}" ]] && [[ ${{ github.ref }} =~ ^refs/tags/v[0-9]+\.[0-9]+\.[0-9]+-[^[:space:]]+$ ]]; then
            echo ::set-output name=prerelease::true
        fi
    - name: Changelog
      id: changelog
      uses: mikepenz/release-changelog-builder-action@v1
      if: startsWith(github.ref, 'refs/tags/')
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Prerelease 
      uses: softprops/action-gh-release@v1
      if: steps.check-tag.outputs.prerelease == 'true'
      with:
        prerelease: true
        files: |
          ${{ env.TARGET_FILE_NAME }}
        body: ${{steps.changelog.outputs.changelog}}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Release 
      uses: softprops/action-gh-release@v1
      if: steps.check-tag.outputs.release == 'true'
      with:
        files: |
          ${{ env.TARGET_FILE_NAME }}
        body: ${{steps.changelog.outputs.changelog}}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
